html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
   display: inline-block;
   font-weight: bold;
}

.myAppDemoWT .mycustomcss{
   width:60%;
}

.myAppDemoWT .mycustomcss .sapMPanelHdr{
   color:red;
   font-weight:bold;
}

.myAppDemoWT .myinputcss{
   width: 15rem !important;
}


